= render 'landings/partials/masthead'
= render 'landings/partials/services'
= render 'landings/partials/portfolio'
= render 'landings/partials/about'
= render 'landings/partials/team'
= render 'landings/partials/clients'
= render 'landings/partials/contact'