%nav.navbar.navbar-expand-lg.navbar-dark.fixed-top{id: 'mainNav'}
  .container
    %a.navbar-brand.js-scroll-trigger{href: root_path}
      %img{:alt => "", src: asset_path('navbar-logo.svg')}/
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      Menu
      %i.fas.fa-bars.ml-1
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.text-uppercase.ml-auto
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#services"} Best Restaurant Reviews
        %li.nav-item
          = link_to 'Restaurants', restaurants_path, class: 'nav-link js-scroll-trigger'
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#portfolio"} Portfolio
        %li.nav-item
          %a.nav-link.js-scroll-trigger{href: :about_us} About us
        %li.nav-item
          %a.nav-link.js-scroll-trigger{href: :contact_us} Contact
        -if !current_user  
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle.btn{href:'#', 'role'=>'button', 'data-toggle'=>'dropdown', 'aria-haspopup'=>'true', 'aria-expanded'=>'false'}
              = 'Users'
            .dropdown-menu{'aria-labelledby'=>'navbarDropdown'}
              = link_to 'Log In', new_user_session_path, class: 'dropdown-item'
              = link_to 'Sign Up', new_user_registration_path, class: 'dropdown-item'
        -else
          %li.nav-item
            = link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link js-scroll-trigger'
          %li.nav-item
            = link_to 'Sign Out', destroy_user_session_path, class: 'nav-link js-scroll-trigger', method: :delete
