.container{style: 'margin-top: 85px;'}
  .row
    .col-md-8.border-bottom
      .text-muted
        = "Search Results"
  .row
    %h4.font-italic.mt-3.ml-3 Restaurants List

    .col-md-12
      - if @restaurants.blank?
        %p
          = "No Results, try again..."
      - else    
        - @restaurants.each do |restaurant|
          .row.no-gutters.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
            .col.p-4.d-flex.flex-column.position-static
              %strong.d-inline-block.mb-2.text-primary 
              = link_to restaurant.category.name, restaurant_path(restaurant)
              %h3.mb-0
                = restaurant.name
              .mb-1.text-muted
                %span 
                  %i.fa.fa-phone
                = restaurant.phone
              %p.card-text.mb-auto
                = restaurant.description
              = link_to 'More Info...', restaurant_path(restaurant), class: 'stretched-link'
            .col-auto.d-none.d-lg-block
              %svg.bd-placeholder-img{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "250", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "200", :xmlns => "http://www.w3.org/2000/svg"}
                %title Placeholder
                %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
                %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
        
  .row
    = link_to 'Back', restaurants_path
    |
    = link_to 'New', new_restaurant_path
